@import "ember-material";

@import "modules/-paper-drawer";
@import "modules/-post-list";

// TODO: move this to a module
.application-wrapper {
  min-height: 100vh;

  .content-wrapper {
    padding: 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &.isActive {
    display: inherit;
  }
}

.author-info {
  &--avatar {
    img {
      height: 50px;
      border-radius: 100%;
      padding: 5px 10px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    .details {
      &--title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.75);
      }

      &--subtext {

      }
    }
  }
}

.hero-image {
  max-width: 211px;
}

.post-actions {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 56px;
  z-index: 99;

  .mdl-button {
    margin-bottom: 5px;
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--1 {
    flex: 1;
  }
}

.items-aligned {
  &--center {
    align-items: center;
  }
}

.text-aligned {
  &--center {
    text-align: center;
  }
}

.user-clickable {
  cursor: pointer;
}
