<div class="content flex flex--column items-aligned--center text-aligned--center">
  <img src="images/el-guapo.png" class="hero-image">
  <h3>Welcome to El Guapo's Beautiful Blog</h3>
  <p>
    Would you say I have a plethora of posts?
  </p>
</div>
