<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <label class=mdl-textfield--floating-label" for="post-title">Title</label>
  {{input id="post-title"
          classNames="mdl-textfield__input"
          type="text"
          value=post.title}}
</div>

<div class="mdl-textfield mdl-js-textfield">
  <label class="mdl-textfield--floating-label" for="post-content">Content</label>
  {{textarea id="post-content"
             classNames="mdl-textfield__input"
             value=post.content
             rows="3"}}
</div>