$break-small: 400px;
$break-large: 800px;


.mdl-layout {
  &__header, &__content {
    @media screen and (min-width: $break-large) {
      margin-left: $break-small;
    }

    transition: margin-left 0.5s
  }
}

.mdl-mini-footer {
  @media screen and (min-width: $break-large) {
    margin-left: $break-small;
  }
}

.paper-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $break-small;
  z-index: 999;
  content: '';
  //background-color: lightslategrey;
  overflow-y: auto;

  .drawer-controls {
    position: fixed;
    top: 8px;
    left: -16px;
    display: none;
  }

  .drawer-actions {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding: 5px;
  }

  @media screen and (max-width: $break-large) {
    width: 0px;

    .drawer-controls {
      display: inherit;
    }

    &.isActive {
      width: $break-small;

      .drawer-controls {
        display: none;
      }
    }
  }
  //@media screen and (min-width: $break-large) {
  //
  //}

  transition: width 0.5s;
}
